body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

h1 {
  color: #333;
}

p {
  color: #666;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f0f0f0;
}

.new-search-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.new-search-btn:hover {
  background-color: #0069d9;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.dashboard-btn {
  background-color: #4CAF50; /* Green color for the dashboard button */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.dashboard-btn:hover {
  background-color: #43A047;
}